<a href="https://colab.research.google.com/github/swekchha/swekchha/blob/main/p4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#question no 1.
def funnybuzz(n):
 i=1
 while i<=n: 
   if i%4!=0 and i%6!=0:
     print(i)
     i=i+1
   elif i%4==0:
     print("funny")
     i=i+1
   elif i%6==0:
     print("buzz")
     i=i+1
   if i%4==0 and i%6==0:
     print("funnybuzz")
     i=i+1


funnybuzz(16)

1
2
3
funny
5
buzz
7
funny
9
10
11
funnybuzz
13
14
15
funny

In [ ]:
#question no 2.
def multiples_sum(m,n,limit):
  sum = 0
  for i in range(limit):
    if i % m == 0 or i % n == 0:
        sum += i
  print(sum)
multiples_sum(3,7,1000)

214216

In [12]:
#question no 3
m = eval(input("n="))
def hailstone(m):
  n = abs(m)
   
  for i in range(m+1,0,-1):
    while m != 1:
      if m % 2 == 0:
        m = m//2
        print(m)
      
      elif m% 2 != 0:
        m = m*3 + 1
        print(m)

hailstone(m)

n=10
5
16
8
4
2
1

In [4]:
#question no 4.
def nearest(n):
  if n > 1:
    for i in range(1, round(n)):
      if (2 ** i >= n):
        if(abs((2 * i) - n) > abs((2 * (i-1)) - n)):
          return 2 ** (i-1)
        else:
          return 2 ** i
    else:
        return 1
 

nearest(11.5)

16

In [5]:
#question no 5.
m=eval(input("Enter a number:"))
fac=[]
for i in range(1,m+1):
  if m%i==0:
    fac.append(int(i))
def check(m):
    j=1 
    n=fac[j-1] * fac[-j]
    count=0
    while n==m :
     print(fac[j-1],"*",fac[-j],"=",n)
     count=count+1 
     j=j+1
     if j>len(fac) or count>len(fac)/2 :
       break
    fac.remove(m)   
    if sum(fac)>m:
     return True
    else:
     return False
check(m)

Enter a number:12
1 * 12 = 12
2 * 6 = 12
3 * 4 = 12
4 * 3 = 12

True